#logo {
  width: 15em;
}

.preview {
  border: solid black 2px;
}

.redes {
  width: 5%;
  margin: 1px 5px;
}

#logo-nav {
  width: 2em;
}

#pos-logo-nav {
  padding-top: 0.4em;
}

@media screen and (min-width: 768px) {
  #redes-margin {
    margin-top: 9.9em;
}
