body {
  font-family: 'Josefin Sans', sans-serif;
}

#slogan {
  font-family: 'Dancing Script', cursive;
}

.preview {
  border: solid black 2px;
}

.nombre {
  color: #0a335c;
}

/* Fuentes
font-family: 'Josefin Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Permanent Marker', cursive;
*/
