body, #titulo {
  font-family: 'Josefin Sans', sans-serif;
}

#slogan {
  font-family: 'Dancing Script', cursive;
}

.preview {
  border: solid black 2px;
}

.nombre {
  color: #0a335c;
  margin: 0;
}
